apiVersion: v1
kind: ConfigMap
metadata:
  name: todo-db-host
  namespace: todo-project
data:
  env.properties: |
    POSTGRES_HOST=todo-project-backend-db-svc
    APP_PORT="8888"
    ALLOWED_ORIGINS=http://dwk.todo-project.local
    NATS_CHANNEL=todos